page-about {
  .card-background-page {

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    #authorName{
      padding: 0;
      margin: 0;

    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .card-title-author{
      background: rgba(255,255,255,0);
      font-size:2.0em;
      color: #fff;

    }

    img{
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    ion-card-header{
      padding:8px;
      border-bottom: 1px solid lightgrey;
    }

  }
  ion-content{
    background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t31.0-8/16107307_1207061299330680_6314677436602841497_o.jpg?oh=93aea4f5d158c504050406630440321b&oe=5B0F43F7");

  }



}
