<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <div text-center>
    <img src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-1/p160x160/12936660_986572621379550_7634261835192969489_n.jpg?oh=5b121f221bdf2318a4977e74bf7b5a23&oe=5B032630"/>
  </div>

  <ion-fab center bottom>
    <button ion-fab color="butt"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="right">
      <button ion-fab color="insta" onclick="location.href='https://www.instagram.com/kiranyadubanshi/'"><ion-icon name="logo-instagram">
      </ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="fb" onclick= "location.href='https://www.facebook.com/evilkiran'"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <button ion-fab color="link" onclick="location.href='https://www.linkedin.com/in/kiran-yadubanshi-12b084b2/'"><ion-icon name="logo-linkedin"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="card-title-author">
    <ion-card-header text-center text-capitalize="">About App</ion-card-header>
    <ion-card-content>
      <strong> Name:</strong> Ireddit <br/>
      <strong>Description:</strong> A small learning app build for fetching and displaying subreddits.<br/>
      <strong> Version: </strong>1.0.0
    </ion-card-content>
  </ion-card>
  <!--<ion-card>-->

      <!--<div class="card-subtitle">About App</div>-->

      <!--<p>-->

       <!--<strong> Name:</strong> Ionic Reddit App-->
      <!--</p>-->
      <!--<p>-->
        <!--"A small Ionic learning app for fetching and displaying subreddits."-->
      <!--</p>-->
      <!--<p>-->
        <!--<strong>Version:</strong> 1.0.0-->
      <!--</p>-->

  <!--</ion-card>-->
</ion-content>
