<ion-tabs color="primary">
  <ion-tab [root]="redditRoot" tabTitle="Reddit" tabIcon="home"></ion-tab>
  <ion-tab [root]="settingsRoot" tabTitle="Settings" tabIcon="settings"></ion-tab>
  <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
