<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings {{selectedLimit | json}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="setDefaults()">
  <ion-card>
    <ion-item>
      <ion-label >Category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" name="selectedCategory">
        <ion-option *ngFor="let category of redditCategories" [value]="category">{{category}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label >Limit</ion-label>
      <ion-select [(ngModel)]="selectedLimit" name="selectedLimit">
        <ion-option *ngFor="let limit of redditLimits" [value]="limit">{{limit}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-card>
  <div text-center>
    <button ion-button type="submit">Save Changes</button>
  </div>
  </form>
</ion-content>
