
<ion-header>

  <ion-navbar>
    <ion-title>Reddit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label fixed>Category</ion-label>
    <ion-select (ionChange)="changeCategory()" [(ngModel)]="category">
      <ion-option value="movies">Movies</ion-option>
      <ion-option value="sports">Sports</ion-option>
      <ion-option value="food">Food</ion-option>
      <ion-option value="news">News</ion-option>
      <ion-option value="music">Music</ion-option>
      <ion-option value="funny">Funny</ion-option>
      <ion-option value="art">Art</ion-option>
      <ion-option value="gaming">Gaming</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-grid>
      <ion-row *ngFor='let item of items' align-items-center>
        <ion-col col-3>
          <ion-thumbnail item-left>
            <img [src]="imageLink.getImage(item.data.thumbnail)">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-7>
          <ion-label>{{item.data.title}}</ion-label>
          <p>
            <ion-icon name="thumbs-up" color="secondary">{{item.data.score}}</ion-icon>&nbsp;&nbsp;&nbsp;
            <ion-icon name="chatboxes" color="danger">{{item.data.num_comments}}</ion-icon>
          </p>
        </ion-col>
        <ion-col col-2>
          <button ion-button item-right (click)="viewItem(item.data)">
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
