<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.title.split(' ').slice(0,4).join(' ')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="imageLink.getImage(item.thumbnail, 'DETAILS_PAGE')"/>
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>

        <ion-list>
          <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            Author
            <ion-note item-right>{{item.author}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name="thumbs-up" item-left></ion-icon>
            Score
            <ion-note item-right>{{item.score}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name="chatboxes" item-left></ion-icon>
            Comments
            <ion-note item-right>{{item.num_comments}}</ion-note>
          </ion-item>
        </ion-list>
        <a ion-button block target="_blank" href="http://reddit.com/{{item.permalink}}">View on Reddit</a>

    </ion-card-content>
  </ion-card>
</ion-content>
